[core]
	excludesfile = /Users/silverhand/.gitignore
[user]
	name = Hengyi Li
	email = trdli@ucdavis.edu
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git://"]
	insteadOf = https://
[color]
    ui = auto
[push]
    default = simple
[credential]
    helper = store
[init]
    defaultBranch = main
